@import 'tailwindcss';
/* @import 'tw-animate-css'; */
@import 'keen-slider/keen-slider.min.css';

@custom-variant dark (&:is(.dark *));

:root {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.625rem;

  --background: rgb(255, 255, 255);
  --foreground: rgb(38, 38, 38);

  --card: rgb(255, 255, 255);
  --card-foreground: rgb(38, 38, 38);

  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(38, 38, 38);

  --primary: rgb(22, 168, 32);
  --primary-foreground: rgb(250, 250, 250);

  --secondary: rgb(248, 248, 248);
  --secondary-foreground: rgb(70, 70, 70);

  --muted: rgb(248, 248, 248);
  --muted-foreground: rgb(141, 141, 141);

  --accent: rgb(248, 248, 248);
  --accent-foreground: rgb(70, 70, 70);

  --destructive: rgb(186, 58, 49);
  --border: rgb(235, 235, 235);
  --input: rgb(235, 235, 235);
  --ring: rgb(180, 180, 180);

  --chart-1: rgb(219, 100, 0);
  --chart-2: rgb(199, 139, 255);
  --chart-3: rgb(97, 117, 255);
  --chart-4: rgb(255, 222, 0);
  --chart-5: rgb(255, 196, 0);

  --sidebar: rgb(250, 250, 250);
  --sidebar-foreground: rgb(38, 38, 38);
  --sidebar-primary: rgb(70, 70, 70);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(248, 248, 248);
  --sidebar-accent-foreground: rgb(70, 70, 70);
  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(180, 180, 180);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: rgb(38, 38, 38);
  --foreground: rgb(250, 250, 250);

  --card: rgb(70, 70, 70);
  --card-foreground: rgb(250, 250, 250);

  --popover: rgb(70, 70, 70);
  --popover-foreground: rgb(250, 250, 250);

  --primary: rgb(235, 235, 235);
  --primary-foreground: rgb(70, 70, 70);

  --secondary: rgb(95, 95, 95);
  --secondary-foreground: rgb(250, 250, 250);

  --muted: rgb(95, 95, 95);
  --muted-foreground: rgb(180, 180, 180);

  --accent: rgb(95, 95, 95);
  --accent-foreground: rgb(250, 250, 250);

  --destructive: rgb(204, 69, 50);
  --border: rgb(255, 255, 255);
  --input: rgb(255, 255, 255, 0);
  --ring: rgb(141, 141, 141);

  --chart-1: rgb(97, 124, 255);
  --chart-2: rgb(255, 189, 72);
  --chart-3: rgb(255, 196, 0);
  --chart-4: rgb(149, 122, 255);
  --chart-5: rgb(255, 153, 84);

  --sidebar: rgb(70, 70, 70);
  --sidebar-foreground: rgb(250, 250, 250);
  --sidebar-primary: rgb(97, 124, 255);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(95, 95, 95);
  --sidebar-accent-foreground: rgb(250, 250, 250);
  --sidebar-border: rgb(255, 255, 255);
  --sidebar-ring: rgb(141, 141, 141);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
